*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.container{
    position: relative;
    padding:0px 50px 0px;
    background-color: lightblue;
    height: 100%;
    border: 8px solid #255;
    align-items: center;

}

.content{
    margin: 20px;
   width:1000px
   /* padding-left: 20%; */
   
  

}
.top_section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}
.top_section h1{
    font-size: 40px;
    font-weight: bold;
    color: #1d1e4c;
    text-transform: uppercase;

}
.top_section h4{
    text-align: end;
    font-size: 16px;
}

.image_container,img{
    width:190px ;
    height: 200px;
    position: relative;
    left: 60px;
    bottom: 30px;
    border: 5px dashed #1d1e4c;
    border-radius: 30px

       
 } 
/* .image_container{
    border-radius: 50%;
    /* overflow: hidden; */
   
    
/* } */
/* .top{
    display: flex;
    justify-content: space-between; */

/* } */
.about_section{
    margin-top: 50px;

}
.about_section h2{
    font-size: 30px;
    font-weight: 80px;
    margin-bottom: 10px;
    text-decoration:underline;
}
.about_section p{
    line-height: 27px;
    text-align: justify;
}
.biography_section{
    margin-top: 20px;
    
    
}
.biography_section h2{
    margin-bottom: 20px;
    /* margin-top: 20px; */
    text-decoration: underline;
    text-size-adjust: 40px;
}
.biography_section li{
    margin-left: 50px;
}
footer{
    margin: 50px 0;
}
footer p{
    text-align: end;
}
